@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Unbounded:wght@200;300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  /* font family */
  --poppins: 'Poppins', sans-serif;
  --unbounded: 'Unbounded', cursive;
  /* color */
  --dark : #1e1e1e;
  --basic: #ffffff;
  --primary: #ea18b5;
  --secondary: #a2a2a2;
}

.container {
  width: 90%;
  height: 100%;
  margin: auto;
}

.row {
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center;
}

.d-grid {
  display: grid;
}

.bl-dark a {
  color: var(--basic);
}

.bl-light a {
  color: var(--dark);
}

.mark {
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: transparent;
}

/* nav */

nav {
  font-family: var(--poppins);
  position: sticky;
  top: 0;
}

.navigasi {
  width: 50%;
}

.navigasi ul li {
  padding: 2em 1em;
  position: relative;
  overflow: hidden;
}

.navigasi ul li::before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--primary);
  position: absolute;
  bottom: 0;
  left: -100%;
  transition: .3s ease-in-out;
}

.navigasi ul li:hover::before {
  left: 0;
}

.navigasi ul li:hover a {
  color: var(--primary);
}

.hamBtn {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: none;
  position: relative;
  flex-direction: column;
  justify-content: center;
}

.hamBtn input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}


.hamBtn span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--dark);
  position: absolute;
  transition: all .3s ease-in-out;
}

.hamBtn span:last-child {
  transform: rotate(90deg);
}

.hamBtn input:checked ~ span:nth-child(2) {
  transform: rotate(45deg);
}

.hamBtn input:checked ~ span:last-child {
  transform: rotate(-45deg);
}


/* end nav */

/* hero */

#hero {
  height: 500px;
  text-align: center;
  /* border: 1px solid black; */
}

#hero .row:first-child {
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

#hero h1 {
  font-family: var(--unbounded);
  font-weight: 600;
  font-size: 2.5rem;
}

#hero .row p {
  font-family: var(--poppins);
}

#hero .carousel {
  width: 100%;
  padding: 1em 0;
  height: auto;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

#hero .row:last-child article {
  flex: 0 0 300px;
  height: 200px;
  border: 1px solid black;
}

